
@font-face {
	font-family: "Jura";
	src: url("fonts/Jura-VariableFont.ttf") format('truetype');
}
@font-face {
	font-family: "PixelType";
	src: url("fonts/PixelType.ttf") format('truetype');
}
@font-face {
	font-family: "MiniPixel";
	src: url("fonts/MiniPixel7.ttf") format('truetype');
}
@font-face {
	font-family: "VCR";
	src: url("fonts/VCR_OSD.ttf") format('truetype');
}

.jura { font-family: "Jura"; }
.pixel-type { font-family: "PixelType"; }
.mini-pixel { font-family: "MiniPixel"; }
.vcr { font-family: "VCR"; }

em {
	background: linear-gradient(45deg, #4700c1, #de68ee);
	color: white;
	padding: 0.05rem 0.2rem;
	font-weight: 500;
}

.glitch-outline {
	font-family: "PixelType";
	color: #333;
	/* -webkit-text-stroke: 1px black; */
	text-shadow:
       -4px 1px 0 #53d1e2,
       4px -1px 0 #de68ee;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.content {
	position: relative;
}

section {
	margin-bottom: 10px;
	display: block;
}

.content h2 {
	z-index: 2;
	position: sticky;
	top: 0px;
	padding: 2rem 0 1.25rem 0;
	background: white;
	color: #333;
	font-family: "Jura";
}

@media print {

  body .toc {
    display: none;
  }

  em {
    padding: 0;
  }

  .screen-only {
    display: none;
  }
  .print-only {
    display: block;
  }

  .page-break-after {
    page-break-after: always;
    break-after: always;
  }
}